* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e9f6ff; /* Fundo azul claro */
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #007bff; /* Azul */
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details {
    text-align: center;
    background-color: white; /* Fundo branco para contraste */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.product-details h1 {
    font-size: 2em;
    color: #007bff; /* Azul */
}

.product-details .price {
    font-size: 1.5em;
    color: #f56e3b; /* Cor do preço */
}

.product-details p {
    margin: 10px 0;
}

.add-to-cart {
    background-color: #007bff; /* Azul */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    font-size: 14px;
}
